<div class="container">
  <a routerLink="/students">
    <i class="fa-solid fa-circle-arrow-left"></i>
    Back</a
  >

  <form action="">
    <h2>Edit Student</h2>
    <div>
      <label for="name">Name</label><br />
      <input type="text" id="name" name="name" [(ngModel)]="student.name" #student_name />
    </div>
    <div>
      <label for="email">Email</label><br />
      <input type="email" id="email" name="email" [(ngModel)]="student.email" #student_email />
    </div>
    <div>
      <label for="cohort">Cohort</label><br />
      <input type="text" id="cohort" name="cohort" [(ngModel)]="student.cohort" #student_cohort />
    </div>
    <div>
      <label for="phone_number">Phone</label><br />
      <input
        type="number"
        id="phone_number"
        name="phone_number"
        [(ngModel)]="student.phone_number"
        #student_phone_number
      />
    </div>
    <div>
      <button (click)="update_student(student.id)">Update</button>
    </div>
  </form>
</div>

